<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for API calls -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Here4UApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Here4u"
        tools:targetApi="31">
        <activity
            android:name=".view.journaling.Journaling"
            android:exported="false" />
        <activity
            android:name=".view.emotions.IdentifyingEmotions"
            android:exported="false"
            android:label="@string/title_activity_identifying_emotions"
            android:theme="@style/Theme.Here4u.NoActionBar" />
        <activity
            android:name=".view.login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.home.home"
                  
            android:exported="false"/>

        <activity
            android:name=".view.exercises.ExercisesActivity"
            android:exported="false"/>

    </application>

</manifest>